@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --app-font: 'Poppins', sans-serif;
    --white: hsl(0deg 0% 100%);
    --black: hsl(0deg 0% 5%);
    --dark-blue: hsl(249, 10%, 26%) ;
    --grayish-blue: hsl(246, 25%, 77%);
    --blue: hsl(248, 32%, 49%);
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%); 
    --gray: hsl(230.77deg 15.66% 83.73%);
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--app-font);
}

html, body {
  margin: 0;
  padding: 0;
}

.member__registration {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 50px;
}

.member__registration h1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.member__registration .content input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
}

.member__registration .content label {
    font-weight: 500;
    border-bottom: solid 1px var(--black);
}

.member__registration .radio__content {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.member__registration .radio__content .radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member__registration .check__content {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.member__registration .check__content .check {
  display: flex;
  align-items: center;
  gap: 10px;
}

.member__registration .button__content {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.member__registration code {
  display: none;
}

.page__content {
  margin-top:25px;
  margin-bottom: 25px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 50px;
}

.page__content .tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page__content .tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.page__content .tabs__radio {
  display: none;
}

.page__content .tabs__content {
  order: 1;
  width: 100%;
  display: none;
}

.page__content .tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.page__content .tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}
